{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block content %}
<div>
    <h1>Home</h1>
    <p>
        Our software is designed to simplify and enhance the way you work, offering powerful tools tailored to your needs. With an intuitive interface and cutting-edge features, 
        our product empowers users to streamline tasks, improve efficiency, and achieve better outcomes. Whether you're managing projects, analyzing data, or collaborating with your team, 
        our solution adapts to your workflow and scales with your goals. Experience the future of productivity with a platform that's reliable, secure, and easy to use. Start transforming 
        the way you work today!
    </p>
</div>
<div class="img-container">
    <img class="issue-img" src="{% static 'img/issue.jpeg' %}" alt="">
</div>

{% endblock content %}