{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block content %}
<div>
    <h1>Home</h1>
    <p>
        My issue manager page is a streamlined tool for tracking, managing, and resolving tasks efficiently. It offers features like issue creation, 
        prioritization, and collaboration tools such as comments and notifications to enhance teamwork.
    </p>
</div>
<div class="img-container">
    <img class="issue-img" src="{% static 'img/issue.jpeg' %}" alt="">
</div>

{% endblock content %}